[submodule "spawneditor"]
	path = spawneditor
	url = https://github.com/jamesderlin/python-spawneditor.git
[submodule "python_cli_utils"]
	path = python_cli_utils
	url = https://github.com/jamesderlin/python_cli_utils.git
